body{
    margin: 0;
}
.app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.tabs__list{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EFF4FB;
    border-top: 1px solid #EFF4FB;
    padding: 0;
}
.tab{
    display: block;
    flex: 1;
    border-right: 1px solid #EFF4FB;
}
.tab:first-child{
    border-left: 1px solid #EFF4FB;
}
.tab a{
    color: #7E8FA4;
    text-align: center;
    font-family: Lato, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 0 34px;
    text-transform: uppercase;
    position: relative;
    transition: color .5s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}
.tab a:hover{
    color: #3c4458;
}
.tab.active a{
    color: #2F80ED;
    background-color: #e2e2e2;
}